.modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    border-radius: 4px;
    max-width: 450px;
    width: 100%;
    max-height: 608px;
    height: 100%;
  
    @media (min-width: 1200px) {
         max-width: 528px;
         max-height: 580px;
    }

    &__title {
        margin-bottom: 12px;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: var(--line-height-23px-20px);
        letter-spacing: var(--letter-spacing-03);
        color: var(--h-color);
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {

    &__label {
        font-size: 12px;
        line-height: var(--letter-spacing-01);
        letter-spacing: var(--line-height-14px-12px);
        color: var(--p-color);
    }

    &__input-wrapper {
        position: relative;
        height: 40px;
        margin-bottom: 10px;
        margin-top: 4px;
    }

    &__input {
        width: 100%;
        height: 40px;
        padding: 0 12px 0 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;

        &:focus {
            border-color: var(--blue-color);
        }
    }

    &__input-icon {
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
        fill: var(--h-color);
    }

    &__input:focus+&__input-icon {
        fill: var(--blue-color);
    }

    &__textarea {
        margin-bottom: 20px;
        margin-top: 4px;
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        resize: none;

        &:focus {
            border-color: var(--blue-color);
        }
    }

    &__textarea::placeholder {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
    }

    &__checkbox-tems {
        font-weight: 400;
        font-size: 12px;
        line-height: var(--line-height-14px-12px);
        letter-spacing: var(--letter-spacing-03);
        color: var(--blue-color);

              
        @media (min-width: 1200px) {
            font-size: 14px;
            line-height: var(--line-height-24px-14px);
            letter-spacing: var(--letter-spacing-03);            
        }
    }

    
    &__checkbox-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__checkbox-input {
        appearance: none;
    }

    &__checkbox-icon {
        border: 2px solid var(--h-color);
        fill: transparent;
        border-radius: 2px;
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }

    &__checkbox-input:checked+&__checkbox-icon {
        fill: var(--white-color);
        border: none;
        background-color: var(--blue-color);
    }

    &__checkbox-wrapper &__checkbox-tems {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--blue-color);
    }
}