.features {
    margin: 0 auto;
    
    &__container {
        display: flex;
        flex-direction: row;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        width: 100%;
        
        @media (min-width: 768px) {
            flex-basis: calc((100% - 30px)/ 2);
        }    

        @media (min-width: 1200px) {
            flex-basis: calc((100% - 90px)/ 4);
        }
    }

    &__icon {
        margin-bottom: 30px;
        display: flex;
        align-self: center;
        justify-content: center;
        width: 100%;
        height: 120px;
        background-color: #F5F4FA;
        padding: 25px 100px;
        border-radius: 4px;  
    }

    &__title {
        text-align: center;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: var(--line-height-16px-14px);
        letter-spacing: var(--letter-spacing-03);
        text-transform: uppercase;
        color: var(--h-color);

        @media (min-width: 768px) {
            text-align: left;
        }    
    }

    &__descr {
        font-size: 14px;
        font-weight: 400;
        line-height: var(--line-height-24px-14px);
        letter-spacing: var(--letter-spacing-03);
        color: var(--p-color);
        
    }
}