.footer {

    &__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        // align-items: baseline;
    }

    &__references {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        // width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;

        @media (min-width: 768px) {
            justify-content: left;
        }
        
        @media (min-width: 1600px) {
            justify-content: left;
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    &__logo {
        display: flex;
        margin-bottom: 20px;
    }

    &__logo .logo-web {
        margin-right: 0px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 768px) {
            justify-content: left;
        }
        
        @media (min-width: 1600px) {
            justify-content: left;
            flex-direction: row;
        }
    }

    &__address {
        margin-bottom: 9px;
    }

    &__address-link {
        font-style: normal;
        font-weight: 400;
        color: var(--white-color);
        letter-spacing: var(--letter-spacing-03);
        line-height: var(--line-height-24px-14px);

        &:hover,
        &:focus {
            color: var(--blue-color);
        }

        &:active {
            color: var(--blue-color);
        }
    }

    &__contact-details {
        line-height: var(--line-height-24px-14px);
        font-style: normal;
    }

    &__contact-item {
        margin-bottom: 9px;
    }

    &__contact-link {
        color: var(--white-color);
        color: rgba(255, 255, 255, 0.6);

        &:hover,
        &:focus {
            color: var(--blue-color);
        }

        &:active {
            color: var(--blue-color);
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-bottom: 60px;

        @media (min-width: 768px) {
            justify-content: left;
            padding-bottom: 102px;
        }
        
        @media (min-width: 1600px) {
            justify-content: left;
            padding: 72px 0 102px 70px;
        }
    }

    &__subtitle {
        text-align: center;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: var(--line-height-16px-14px);
        letter-spacing: var(--letter-spacing-03);
        text-transform: uppercase;
        color: var(--white-color);

        @media (min-width: 768px) {
            text-align: center;
        }
        
        @media (min-width: 1600px) {
            text-align: left;
        }
    }

    &__socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        @media (min-width: 768px) {
            justify-content: left;
        }
        
        @media (min-width: 1600px) {
            justify-content: left;
        }
    }

    &__socials-item {
        width: 44px;
        height: 44px;
    }

    &__socials-icon {
        width: 20px;
        height: 20px;
    }

    &__socials-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        fill: var(--white-color);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--blue-color);
            border-radius: 50%;
        }

        &:active {
            background-color: var(--blue-color);
            border-radius: 50%;
        }
    }
}

.footer-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 60px;
    width: 100%;
    
    @media (min-width: 768px) {
            
        }
    
    @media (min-width: 1600px) {
        padding-left: 92px;
        padding-top: 72px;
        padding-bottom: 94px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        &__textarea {
        display: flex;
        width: 100%;
        height: 50px;
        padding-top: 15px;
        padding-left: 16px;
        font-size: 16px;
        line-height: var(--line-height-20px-16px);
        letter-spacing: var(--letter-spacing-03);
        color: rgba(255, 255, 255, 0.6);
        background-color: var(--bgd-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        outline: none;
        resize: none;

        @media (min-width: 768px) {
            width: 450px;
        }
        
        @media (min-width: 1600px) {
            width: 358px;
            margin-right: 12px;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        padding: 10px 28px;
        margin-top: 20px;
        max-width: 200px;
        background-color: var(--blue-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: var(--letter-spacing-06);
        color: var(--white-color);
    }

    &__icon {
        margin-left: 10px;
        width: 24px;
        height: 24px;
        fill: var(--white-color);
    }
}
