.footer {

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    &__references {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
    }

    &__address {
        margin-bottom: 9px;
    }

    &__address-link {
        font-style: normal;
        font-weight: 400;
        color: var(--white-color);
        letter-spacing: var(--letter-spacing-03);
        line-height: var(--line-height-24px-14px);

        &:hover,
        &:focus {
            color: var(--blue-color);
        }

        &:active {
            color: var(--blue-color);
        }
    }

    &__contact-details {
        line-height: var(--line-height-24px-14px);
        font-style: normal;
    }

    &__contact-item {
        margin-bottom: 9px;
    }

    &__contact-link {
        color: var(--white-color);
        color: rgba(255, 255, 255, 0.6);

        &:hover,
        &:focus {
            color: var(--blue-color);
        }

        &:active {
            color: var(--blue-color);
        }
    }

    &__content {
        padding-left: 70px;
        padding-top: 72px;
        padding-bottom: 100px;
    }

    &__subtitle {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: var(--line-height-16px-14px);
        letter-spacing: var(--letter-spacing-03);
        text-transform: uppercase;
        color: var(--white-color);
    }

    &__socials {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__socials-item {
        width: 44px;
        height: 44px;
    }

    &__socials-icon {
        width: 20px;
        height: 20px;
    }

    &__socials-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        fill: var(--white-color);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--blue-color);
            border-radius: 50%;
        }

        &:active {
            background-color: var(--blue-color);
            border-radius: 50%;
        }
    }
}

.footer-form {
    padding-left: 92px;
    padding-top: 72px;
    padding-bottom: 94px;

    &__container {
        display: flex;
    }

    &__textarea {
        margin-right: 12px;
        width: 358px;
        height: 50px;
        margin-right: 12px;
        padding-top: 15px;
        padding-left: 16px;
        font-size: 16px;
        line-height: var(--line-height-20px-16px);
        letter-spacing: var(--letter-spacing-03);
        color: rgba(255, 255, 255, 0.6);
        background-color: var(--bgd-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        outline: none;
        resize: none;
    }

    &__button {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 10px 28px;
        max-width: 200px;
        background-color: var(--blue-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: var(--letter-spacing-06);
        color: var(--white-color);
    }

    &__icon {
        margin-left: 10px;
        width: 24px;
        height: 24px;
        fill: var(--white-color);
    }
}
