.header {
    &__section {
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom: 1px solid var(--border-color-header);
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__container {
        display: flex;
        align-items: center;
        
        @media (min-width: 768px) {
            margin-left: 87px;
        }

        @media (min-width: 1600px) {
            flex-grow: 1;
            padding-top: 32px;
            padding-bottom: 32px;
            margin-left: 92px;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 50px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: var(--letter-spacing-02);
        line-height: var(--line-height-16px-14px);

        @media (max-width: 480px) {
            display: none;
        }
    }

    &__menu &__link {
        color: var(--h-color);

        & &:hover,
        & &:focus {
            color: var(--blue-color);
        }
        
        & &:active {
            color: var(--blue-color);
        }
    }

    &__link {
        position: relative;
        padding: 32px 0px;

        &.current::after {
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            content: '';
            width: 100%;
            height: 4px;
            background-color: var(--blue-color);
            border-radius: 2px;
        }
        
        &.current {
            color: var(--blue-color);
        }
    }

    .contacts {      
        @media (max-width: 480px) {
                display: none;
            }

        @media (min-width: 1600px) {
            margin-left: auto;
        }

        &__container {
            display: flex;
            align-items: center;
            gap: 30px;
            font-size: 14px;
            line-height: var(--line-height-16px-14px);
            font-weight: 500;
            letter-spacing: var(--letter-spacing-02); 
            
            @media (min-width: 768px) {
                flex-direction: column;
                padding: 21px 0 21px 96px;
            }

            @media (min-width: 1600px) {
                flex-direction: row;
                padding: 0;
            }
        }
        
        &__item {
            @media (min-width: 768px) {
                    padding-bottom: 10px;
                }
            
                @media (min-width: 1600px) {
                    padding-bottom: 0px;
                }
        }

        &__link {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            gap: 10px;
            width: 100%;
            height: 100%;
            color: var(--p-color);

            &:hover,
            &:focus {
                color: var(--blue-color);
                fill: var(--blue-color);
            }
            
            &:active {
                color: var(--blue-color);
                fill: var(--blue-color);
            }
        }
        
        &__icon {
            width: 16px;
            height: 12px;
        }
    }

    &__burger {
        display: none;
        border: none;
        width: 40px;
        height: 40px;
        padding: 12px 8px;
        margin-top: 10px;
        margin-right: 15px;
        
        @media (max-width: 480px) {
            display: block;
        }
    }

    &__burger-icon {
        width: 24px;
        height: 16px;
        fill: #000;        
    }
}