.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/Hero_image_480x400_1x.jpg'
        );
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/Hero_image_480x400_2x.jpg'
        );
    }
    
    @media (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/Hero_image_768x400_1x.jpg'
        );
       
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi), 
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/Hero_image_768x400_2x.jpg'
        );
        }   
    }     

    @media (min-width: 1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/Hero_image_1600x600_1x.jpg'
        );
       
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi), 
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../../images/Hero_image_1600x600_2x.jpg'
        );
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    &__title {
        display: flex;
        align-self: center;
        text-align: center;
        max-width: 696px;
        font-size: 26px;
        font-weight: 900;
        color: var(--white-color);
        letter-spacing: var(--letter-spacing-06);
        text-transform: uppercase;
        line-height: var(--line-height-42px-26px);

        @media (min-width:768px) {
            font-size: 44px;
            line-height: var(--line-height-60px-44px);
        }
    }
       
}