.logo-web {
    padding-top: 24px;
    padding-bottom: 24px;
    // margin-right: 90px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: var(--blue-color);
    font-weight: 700;
    text-decoration: none;
    line-height: var(--line-height-31px-26px);
    letter-spacing: var(--letter-spacing-03);
}

.logo-studio-black {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    line-height: var(--line-height-31px-26px);
    letter-spacing: var(--letter-spacing-03);
}

.logo-studio-white {
    font-weight: 700;
    font-size: 26px;
    color: var(--white-color);
    text-decoration: none;
    line-height: var(--line-height-31px-26px);
    letter-spacing: var(--letter-spacing-03);
}