.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 796px;
    padding: 40px 48px;
    background-color: var(--white-color);
    transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
        transform: translateX(0);
    }

    &__close {
        position: absolute;
        top: 21px;
        right: 25px;
        width: 18px;
        height: 18px;
        border: none;          
        background-color: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover,
            &:focus {
                fill: var(--blue-color);
            }
    }
     
    &__list {
        font-weight: 500;
        font-size: 40px;
        line-height: var(--line-height-47px-40px);
        letter-spacing: var(--letter-spacing-02);
    }

    &__item {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 302px;
        }
             
        &.current {
            color: var(--blue-color);
        }
    }

    &__link {
        color: var(--h-color);

        &:hover,
        &:focus {
            color: var(--blue-color);
        }
        
        &:active {
            color: var(--blue-color);
        }
    }

    &__contacts {
        font-weight: 500;
        font-size: 24px;
        line-height: var(--line-height-28px-24px);
        letter-spacing: var(--letter-spacing-02);   
    }

    &__contacts-item {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 64px;
        }
    }

    &__contacts-link {
        color: var(--p-color);
                        
        &:hover,
        &:focus {
            color: var(--blue-color);
            fill: var(--blue-color);
        }
        
        &:active {
            color: var(--blue-color);
            fill: var(--blue-color);
        }
    }
    
    &__mob-socials-menu {
        display: flex;
        flex-wrap: wrap;
        font-weight: 500;
        font-size: 18px;
        line-height: var(--line-height-22px-18px);
        letter-spacing: var(--letter-spacing-02);
       }

    &__mob-socials-item {
        display: flex;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
       }   

    &__mob-socials-link {
        color:var(--blue-color);

        &:hover,
        &:focus {
            color: var(--blue-color);
        }
        
        &:active {
            color: var(--blue-color);
        }
    }
}