.projects {
    padding-top: 0;
    padding-bottom: 0;

    &__container {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 60px;
        
        @media (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
        
    }

    &__buttons-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        padding-bottom: 40px;
 
        @media (min-width: 768px) {
            justify-content: center;
        }
        
        @media (min-width: 1200px) {
            justify-content: center;
        }
    }

    &__buttons-item {
        margin-right: 8px;
        margin-bottom: 15px;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }

        @media (min-width: 1200px) {
            margin-bottom: 0;
        }
    }

    &__button {
        padding: 6px 22px;
        font-family: 'Roboto';
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: var(--letter-spacing-03);
        line-height: var(--line-height-26px-16px);
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:first-child {
            min-width: 73px;
        }
    }

    &__buttons-list &__button {
        color: var(--h-color-);
        background: var(--btn-bgd-color);
        border: none;

        & &:hover,
        & &:focus {
            color: var(--white-color);
            background: var(--blue-color);
            border: none;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }

        & &:active {
            color: var(--white-color);
            background: var(--blue-color);
            border: none;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__cards-link {
        display: block;
        width: 100%;
        height: 100%;

        &:hover,
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &:active {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &__cards-overlay {
        padding: 64px 24px;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: rgba(33, 150, 243, 0.9);
        color: var(--white-color);
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__cards-link:hover &__cards-overlay,
    &__cards-link:focus &__cards-overlay {
        transform: translateY(0);
    }

    &__cards-container {
        position: relative;
        overflow: hidden;
    }

    &__cards-descr {
        font-size: 18px;
        line-height: var(--line-height-28px-18px);
        letter-spacing: var(--letter-spacing-03);
    }

    &__cards-content {
        border: 1px solid var(--border-color-portf);
        padding-left: 24px;
        padding-bottom: 20px;
        padding-top: 20px;
        width: 100%;
    }

    &__cards-image {
        display: block;
        width: 100%;
        @media (min-width: 768px) {
            flex-basis: calc((100% - 30px)/ 2);
        }
        
        @media (min-width: 1200px) {
            width: 370px;
        }


    }

    &__cards-title {
        margin-bottom: 4px;
        color: var(--h-color);
        letter-spacing: var(--letter-spacing-06);
        line-height: var(--line-height-36px-18px);
        font-weight: 700;
        font-size: 18px;
    }

    &__cards-type {
        line-height: var(--line-height-30px-16px);
        letter-spacing: var(--letter-spacing-03);
        font-size: 16px;
        color: var(--p-color);
    }
}