.services {
    margin: 0 auto;
    display: none;

    @media (min-width: 768px) {
        display: none;
    }
    
    @media (min-width: 1200px) {
        display: inline;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }

    &__image {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__item {
        position: relative;
    }

    &__overlay {
        display: block;
        position: absolute;
        background: rgba(47, 48, 58, 0.8);
        width: 100%;
        height: 70px;
        bottom: 0;
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        padding-top: 27px;
        font-weight: 700;
        font-size: 14px;
        line-height: var(--line-height-16px-14px);
        text-align: center;
        letter-spacing: var(--letter-spacing-03);
        text-transform: uppercase;
        color: var(--white-color);
    }
}