.subtitle {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: var(--line-height-33px-28px);
    letter-spacing: 0.03em;
    color: var(--h-color);
    
    @media (min-width: 1200px) {
        font-size: 36px;
        line-height: var(--line-height-42px-36px);        
    }
}