.subtitle {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: var(--line-height-42px-36px);
    letter-spacing: var(--letter-spacing-03);
    color: var(--h-color);
}