.team {
    background: #F5F4FA;
    padding-bottom: 94px;

    &__list {
        display: flex;
        gap: 30px;
    }

    &__member {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        flex-basis: 100%;

        @media (min-width: 768px) {
                flex-basis: calc((100% - 30px)/ 2);
            }
        
            @media (min-width: 1600px) {
                flex-basis: calc((100% - 90px)/ 4);
            }
    }

    &__content {
        background: var(--white-color);
        display: flex;
        flex-direction: column;

    }

    &__name {
        padding-bottom: 10px;
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
        line-height: var(--line-height-19px-16px);
        letter-spacing: var(--letter-spacing-03);
    }

    &__descr {
        font-size: 16px;
        font-weight: 400;
        line-height: var(--line-height-19px-16px);
        letter-spacing: var(--letter-spacing-03);
        color: var(--p-color);
    }

    &__content-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 16px;
    }

    .socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding-bottom: 30px;

        &__item {
            width: 44px;
            height: 44px;
        }

        &__icon {
            width: 20px;
            height: 20px;
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            fill: #AFB1B8;
            background-color: var(--white-color);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            border-radius: 50%;

            &:hover,
            &:focus {
                fill: var(--white-color);
                background-color: var(--blue-color);
                border-radius: 50%;
            }

            &:active {
                fill: var(--white-color);
                background-color: var(--blue-color);
                border-radius: 50%;
            }
        }

    }

}