*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: var(--letter-spacing-03);
    font-size: 14px;
    color: var(--h-color);
}


section {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;            
    }
}

