:root {
    --blue-color: #2196F3;
    --white-color: #FFFFFF;
    --p-color: #757575;
    --h-color: #212121;
    --bgd-color: #2F303A;
    --btn-bgd-color: #F5F4FA;
    --border-color-portf: #EEEEEE;
    --border-color-header: #ECECEC;
    --letter-spacing-01: 0.01em;
    --letter-spacing-02: 0.02em;
    --letter-spacing-03: 0.03em;
    --letter-spacing-06: 0.06em;
    --line-height-14px-12px: 1.17;
    --line-height-16px-14px: 1.14;
    --line-height-24px-14px: 1.71;
    --line-height-23px-20px: 1.15;
    --line-height-42px-36px: 1.17;
    --line-height-42px-26px: 1.62;
    --line-height-31px-26px: 1.19;
    --line-height-30px-16px: 1.88;
    --line-height-19px-16px: 1.19;
    --line-height-20px-16px: 1.25;
    --line-height-60px-44px: 1.36;
    --line-height-36px-18px: 2;
    --line-height-26px-16px: 1.63;
    --line-height-28px-18px: 1.55;
    --line-height-47px-40px: 1.175;
    --line-height-28px-24px: 1.17;
    --line-height-22px-18px: 1.22;
}